[user]
	email = gregt8@gmail.com
	name = Greg Tate
[init]
	defaultBranch = main
[credential]
	useHttpPath = true
	msauthUseBroker = false
	helper = manager
[help]
	format = web
[diff]
	tool = vscode

[includeIf "gitdir/i:~/LocalCode/Quisitive/"]
    path = "~/OneDrive - Quisitive/Apps/Git/.gitconfig-work"
[core]
	hooksPath = ~/.git-hooks
	safecrlf = false
[alias]
	st = status
	co = commit
	br = branch
	pu = push
	last = log -1 HEAD
