:root {
    --select-text-bg-color: #eeeeee;
    --select-text-font-color: #767676;
}
h1, h2, h3, h4, h5, h6 {
    line-height:1.2;
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9em;
}
code {
    background-color:#f9f2f4;
    color:#c7254e;
    font-size:0.9em;
}
th, tr {
  border: 1px solid black;
}
hr {
  margin: 0;
  width: 100%;
}
blockquote {
  background-color: #E2F5FE;
}

/* Monocolor terminal-style code blocks */
.hljs {
    background-color: #002451;
    color: #DDDDDD;
}

.hljs-subst,
.hljs-comment,
.hljs-quote,
.hljs-keyword,
.hljs-built_in,
.hljs-type,
.hljs-literal,
.hljs-number,
.hljs-operator,
.hljs-punctuation,
.hljs-property,
.hljs-regexp,
.hljs-string,
.hljs-symbol,
.hljs-variable,
.hljs-title,
.hljs-params,
.hljs-doctag,
.hljs-meta,
.hljs-section,
.hljs-tag,
.hljs-name,
.hljs-attr,
.hljs-attribute,
.hljs-bullet,
.hljs-code,
.hljs-emphasis,
.hljs-strong,
.hljs-formula,
.hljs-link,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-deletion {
    color: #ffeead;
}

.hljs-emphasis,
.hljs-strong {
    font-style: normal;
    font-weight: normal;
}